<div id='firstInfo'>
<h1>Park Name: <%= name %> </h1>
<br />
<h4>Location: <%= location %> </h4>
<br />
<h4>
Address: <%= address %>
         <%= address2 %>
         <%= address3 %>
</h4>
<br />
<h4> Entrance Fee: <%= entranceFee %> </h4>
<br />
<h4> Hours of Operation: <%= hours %> </h4>
</div>