  <script>
    if (!localStorage.getItem('user')) {
        let user = "<%- currentUser %>"
        localStorage.setItem('user', user)
    }
    
    let currentUser = localStorage.getItem('user')
  </script>

  <script>
    //document.getElementById('user').innerText = `Hello, ${currentUser}, here are your local national parks!`
    document.getElementById('userInput').value = currentUser
    console.log(`User logged in: ${currentUser}`)
  </script>

<style>
  .jumbotron {
    height: 380px;
  }
</style>

     
    <div class="jumbotron text-center" style='background-color: burlywood'>
      <h1>List of National Parks in your state</h1>
      <h3>~There may be multiple fees listed under a park.  Read the description to verify your cost~</h3>
      <br />
      <h4>Entered wrong state? Click the link below to change states</h4>
      <a href="/update">Update Location</a> 
    </div>

  <div class="container">
    <% parks.forEach(park => { %>
        
    <div class='row'>
      <div class='col-lg-4'>
        <h2>Park Name: <%= park.name %> </h2>
      </div>
    
      <div class='col-lg-8'>
        <% park.addresses.forEach(address => { %>
        <h4>
        <strong>Location:</strong> <%= address.line1 %>
                  <%= address.city %>
                  <%= address.stateCode %>
                  <%= address.postalCode %>
        </h4>
        <% }) %>

        <% park.entranceFees.forEach(entranceFee => { %>
        <h4> 
            <strong>Entrance Fee:</strong> <%= entranceFee.cost %> 
                          <%= entranceFee.description %>
        </h4>
        <% }) %>

        <% park.operatingHours.forEach(operatingHour => { %>
        <h4> 
          <strong> Hours of Operation:</strong> <%= operatingHour.description %>
        </h4>
        <% }) %>
      </div>
    </div>
      <form method="GET" action="/detail">
        <input hidden type="text" name="parkCode" id='name' value="<%= park.parkCode %>">
        <input hidden type="text" name="name" id='name' value="<%= currentUser %>">
        <button class="btn btn-primary" type="submit">More Park Facts</button>
        <hr />
      </form>

    <% }) %>
    </div>

</div>