<div id='firstInfo'>
<% parks.forEach(park => { %>

<h1>Park Name: <%= park.name %> </h1>

<% park.addresses.forEach(address => { %>
<h4>
Location: <%= address.line1 %>
          <%= address.city %>
          <%= address.stateCode %>
          <%= address.postalCode %>
</h4>
<% }) %>

<% park.entranceFees.forEach(entranceFee => { %>
<h4> 
    Entrance Fee: <%= entranceFee.cost %> 
                  <%= entranceFee.description %>
</h4>
<% }) %>

<% park.operatingHours.forEach(operatingHour => { %>
<h4> 
    Hours of Operation: <%= operatingHour.description %>
</h4>
<% }) %>

<% }) %>
</div>